#root {
  background-color: #E4F69E;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.container {
  text-align: center;
  padding-top: 50px;
}

.back2menu { /* button that takes you to the main screen (MAKE SURE THIS IS ON EVERY PAGE!!!!)*/
  position: fixed;
  top: 50px;
  left: 50px; 
  background-color: green;
  color: white;
  border-color: #ccc;
  z-index: 1000; /*puts on top of all other items*/
  width: 100px;
  height: 75px;

  font-size: 3em;
  text-align: center;
  align-items: center;
}

.profileicon { /* button that take you to your profile (MAKE SURE THIS IS ON EVERY PAGE!!!!)*/
  position: fixed;
  top: 50px;
  right: 50px; 
  border-radius: 50%;
  z-index: 1000; /*puts on top of all other items*/
  width: 100px;
  height: 100px;
  object-fit: cover;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.buy-wrapper {
  background-color: #E8F8A9;
  min-height: 100vh;
  padding: 30px 50px;
}

/* SEARCH ROW */
.search-row {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 900px;
  margin: 0 auto 30px auto;
}

.search-bar {
  flex: 1;
  background: #dcdcdc;
  padding: 18px;
  font-size: 32px;
  border: 2px solid #005bb5;
  border-radius: 5px;
  outline: none;
}

.filter-button {
  background: #e87063;
  padding: 18px 25px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

/* ITEM GRID */
.items-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  max-width: 900px;
  margin: 0 auto;
}

/* ITEM CARD */
.item {
  background: none;
  text-align: left;
}

.item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.item-info {
  margin-top: 10px;
}

.price {
  margin: 0;
  font-weight: 700;
  font-size: 50px;
  color:#005bb5
}

.title {
  margin: 0;
  font-size: 24px;
  color:#333;
  font-weight: 1000;
}

.state {
  margin: 0;
  font-size: 14px;
  color: #333;
}
